#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root.modo-despesas {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
  text-align: left;
  align-self: flex-start
}

.pagina-despesas {
  width: 100%;
}

.pagina-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: min(350px, 90vw);
  margin: 0 auto;
}
.card-sem-link {
  text-align: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.616);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.descricao-card {
  text-align: center;
  width: 60%;
  margin-bottom: 10px;
}

.span-msg-erro {
  color: #ff3425;
  background-color: #ffb6b14d;
  border-radius: 8px;
  width: 60%;
  padding: 5px 5px;
  font-size: 0.9em;
}

.span-msg-erro.oculto {
  display: none;
}

#btn-login, #btn-cadastro {
  margin-top: 10px;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#botao-upload {
  margin-top: 20px;
}

#botao-upload.botao-sucesso {
  background-color: #4CAF50; /* Green */
  color: white;
}

#botao-upload.botao-erro {
  background-color: #f44336; /* Red */
  color: white;
}
#botao-upload.botao-enviando {
  background-color: #008CBA; /* Blue */
  color: white;
  pointer-events: none;
}

#botao-upload.oculto {
  display: none;
}

#popup-informacoes {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  display: none; 
}

#painel-de-informacoes {
  background: #fff;
  color: #000;
  padding: 50px;
  border-radius: 8px;
  margin: 30px;
  width: fit-content;
}

#cards-edicao-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: auto;
  height: 65vh;
  width: 60vw;
  max-width: 1250px;
  margin: 0 auto;
}

.card-edicao {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  box-shadow: 5px 10px 8px rgba(0,0,0,0.1);
}

/* Scrollbar */
#cards-edicao-container::-webkit-scrollbar {
    width: 5px;
}
 
#cards-edicao-container::-webkit-scrollbar-track {
    background: transparent;
}
 
#cards-edicao-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.322);
    border-radius: 10px;
}

.botao-remover{
  float: right;
  background: #e0e0e0;
  border: none;
  cursor: pointer;
}
.botao-menu.despesas {
  top: 90px;
  right: 30px;
  background-color: #31e07a;
}
.botao-menu.despesas:hover {
  background-color: #1e8c4f;
}

.botao-menu.pagina-inicial {
  top: 90px;
  right: 30px;
  background-color: #b093ff;
}

.botao-menu.pagina-inicial:hover {
  background-color: #7a5ed5;
}

.botao-menu.perfil {
  top: 30px;
  right: 30px;
  background-color: #5bb8f7;
}

.botao-menu.perfil:hover {
  background-color: #2e7ab8;
}

.botao-menu{
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

#graficos-row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.login-icon {
  margin-right: 8px;
  top: 5px;
  position: relative;
  color: #888;
}

.login-input, .cadastro-input {
  flex: 1 1 auto;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.popup-perfil {
  position: fixed;
  top: 85px; right: 20px;
  width: 35vh;
  background-color: Canvas;
  color: CanvasText;
  z-index: 9999;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex; 
  border-radius: 12px;
  padding: 10px 12px;
  text-align: left;
}

.popup-perfil-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
}

.popup-perfil-content p {
  margin: 0;
}