#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-sem-link {
  text-align: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.616);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.descricao-card {
  text-align: center;
  width: 60%;
  margin-bottom: 10px;
}

#botao-upload {
  margin-top: 20px;
}

#botao-upload.botao-sucesso {
  background-color: #4CAF50; /* Green */
  color: white;
}

#botao-upload.botao-erro {
  background-color: #f44336; /* Red */
  color: white;
}
#botao-upload.botao-enviando {
  background-color: #008CBA; /* Blue */
  color: white;
  pointer-events: none;
}

#mensagem-status {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  max-width: 50%;
  flex: 1;
}

#mensagem-status.oculto {
  display: none;
}

#mensagem-status.sucesso {
  background-color: #4CAF50; /* Green */
  color: white;
  display: block;
}

#mensagem-status.erro {
  background-color: #f44336; /* Red */
  color: white;
  display: block;
}
#mensagem-status.carregando {
  background-color: #008CBA; /* Blue */
  color: white;
  display: block;
}

#popup-informacoes {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  display: none; 
}

#painel-de-informacoes {
  background: #fff;
  color: #000;
  padding: 50px;
  border-radius: 8px;
  margin: 30px;
  width: fit-content;
}

#cards-edicao-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: auto;
  height: 65vh;
  width: 60vw;
  max-width: 1250px;
  margin: 0 auto;
}

.card-edicao {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  box-shadow: 5px 10px 8px rgba(0,0,0,0.1);
}

/* Scrollbar */
#cards-edicao-container::-webkit-scrollbar {
    width: 5px;
}
 
#cards-edicao-container::-webkit-scrollbar-track {
    background: transparent;
}
 
#cards-edicao-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.322);
    border-radius: 10px;
}